/* http://meyerweb.com/eric/tools/css/reset/  v2.0 | 20110126 License: none (public domain)*/
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

.background {
  background-color: black;
}

h1, h2, h3, h4, a, a:link, p, li, ul, button {
  font-family: "Comfortaa", cursive;
  color: white;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  text-decoration: none;
  color: white;
}

html {
  scroll-behavior: smooth;
}

header {
  height: 50vh;
  margin-right: 7.5%;
}
@media screen and (max-width: 750px) {
  header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 400px;
  }
}
header h1 {
  padding-top: 12.5vh;
  font-weight: 300;
  font-size: 10vw;
  text-align: right;
  white-space: nowrap;
  text-transform: uppercase;
  font-family: "Poiret One", cursive;
}
@media screen and (max-width: 750px) {
  header h1 {
    font-size: 18vw;
  }
}
header h1 span {
  display: block;
  margin-right: 13.5vw;
}
header h1::after {
  content: "Developpeur \a Front-End | REACT";
  white-space: pre-line;
  font-size: 1.3vw;
  font-weight: 300;
  display: block;
  position: relative;
  height: 30px;
  margin-top: -3.61vw;
  text-transform: lowercase;
  font-family: "Comfortaa", cursive;
}
@media screen and (max-width: 750px) {
  header h1::after {
    font-size: 5vw;
    margin-top: 4vw;
  }
}
header h2 {
  display: none;
}
header nav {
  border-right: white solid 1px;
  border-bottom: white solid 1px;
  display: inline-flex;
  position: absolute;
  min-height: 100vh;
  z-index: 99;
}
@media screen and (max-width: 750px) {
  header nav {
    display: none;
  }
}
header nav ul {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
header nav ul li {
  text-transform: lowercase;
  font-weight: 300;
}
header nav .nav-item {
  list-style: none;
  transform: rotateZ(-90deg);
}
header nav .nav-item::after {
  content: "";
  position: absolute;
  left: 0;
  top: 22.5px;
  width: 100%;
  height: 2px;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}
header nav .nav-item:hover::after {
  background-color: #FFD23F;
  width: 50%;
  right: 0;
}
header nav .nav-item a:hover {
  filter: blur(0);
}
header nav .nav-item a {
  transition: filter 0.25s ease-in-out;
  filter: blur(0);
}
header nav .nav-item.flou a {
  filter: blur(3px);
}

#burger-button {
  display: none;
  background: none;
  border: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  padding: 20px;
}
@media screen and (max-width: 750px) {
  #burger-button {
    display: block;
  }
}
#burger-button span {
  font-size: 40px;
}
#burger-menu {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.932);
  color: white;
}
#burger-menu ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  list-style-type: none;
}
#burger-menu ul li::marker {
  content: "";
  display: none;
}
#burger-menu a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

#close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}
#close-button span {
  font-size: 40px;
}

.cta-gh {
  position: absolute;
  top: -125px;
  left: 150px;
}
@media screen and (max-width: 750px) {
  .cta-gh {
    top: -135px;
    left: unset;
    right: 150px;
  }
}
@media screen and (max-width: 400px) {
  .cta-gh {
    display: none;
  }
}
.cta-gh:hover .cta-icon {
  top: 121px;
}
@media screen and (max-width: 750px) {
  .cta-gh:hover .cta-icon {
    top: none;
  }
}
.cta-icon {
  fill: white;
  width: 50px;
  height: 50px;
  position: relative;
  top: 105px;
  left: 47.5px;
  transform: rotateZ(180deg);
  transition: top 0.3s ease-out;
}

.circular {
  position: absolute;
  width: calc(var(--total) * 5px);
  height: calc(var(--total) * 5px);
}
@media screen and (max-width: 400px) {
  .circular {
    display: none;
  }
}
.circular span {
  --offset-path: path("M 0,50 a 50,50 0 1,1 0,1 z");
  --offset-distance: calc(var(--i) / var(--total) * 100%);
  position: absolute;
  font-weight: 300;
  color: white;
  offset-path: var(--offset-path);
  offset-distance: var(--offset-distance);
  animation: spin 30s linear infinite;
  font-size: 14px;
}
.circular:hover span {
  animation-play-state: paused;
}

@keyframes spin {
  to {
    offset-distance: calc(var(--offset-distance) + 100%);
  }
}
#custom-cursor {
  background-color: #FFD23F;
  width: 10px;
  height: 10px;
  border: 1px solid #FFD23F;
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  z-index: 98;
}
@media screen and (max-width: 750px) {
  #custom-cursor {
    display: none;
  }
}

#intro {
  display: flex;
  height: 75vh;
  justify-content: flex-start;
  align-items: center;
}
@media screen and (max-width: 750px) {
  #intro {
    height: 20vh;
    min-height: 250px;
  }
}
#intro h2 {
  width: 30%;
  max-width: 750px;
  min-width: 500px;
  display: inline;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 1.1rem;
  font-weight: 400;
  text-align: center;
  padding: 7.5px 0;
  margin: 0 10%;
  border-bottom: 1.3px solid white;
  border-top: 1.3px solid white;
}
@media screen and (max-width: 750px) {
  #intro h2 {
    max-width: unset;
    min-width: unset;
    width: 80%;
  }
}

.section-title {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 750px) {
  .section-title {
    height: 80vh;
  }
}
.section-title h2 {
  font-family: "Poiret One", cursive;
  width: 40%;
  font-size: 3rem;
  font-weight: 300;
  border-bottom: 1px solid #FFD23F;
  transition: transform 0.3s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: left left;
  will-change: transform;
}

.about-cont {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 750px) {
  .about-cont {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
.about-cont article {
  width: 45%;
}
@media screen and (max-width: 750px) {
  .about-cont article {
    border-top: 1px solid #FFD23F;
    padding-top: 30px;
    width: 80%;
  }
}
.about-tag {
  display: flex;
  flex-wrap: wrap;
  margin: 15px 0 30px 0;
}
.about-tag p {
  display: inline-block;
  border-radius: 50px;
  font-size: 1.1rem;
  font-weight: 300;
  text-transform: lowercase;
  margin: 5px;
  padding: 5px 10px;
  margin-bottom: 5px;
  border: 1px solid #FFD23F;
}
.about-text p {
  margin: 20px 0 20px 0;
}

.work {
  display: flex;
  justify-content: space-around;
  max-height: 95vh;
  flex-direction: column;
}
.work-cont {
  height: 100%;
  min-height: 25vh;
  border-bottom: 1px solid #FFD23F;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.work-cont-borderTop {
  border-top: 1px solid #FFD23F;
}
.work-cont h3 {
  font-family: "Poiret One", cursive;
  font-size: 6vw;
  font-weight: 300;
  margin: 0 0 0 10%;
}
@media screen and (max-width: 750px) {
  .work-cont h3 {
    font-size: 8vw;
  }
}
.work-cont div {
  display: flex;
  justify-content: flex-end;
  margin: 0 10% 0 0;
}
.work-cont p {
  margin: 0 10px 0 0;
}
.work-cont:hover {
  cursor: pointer;
  animation: fade-in 0.7s cubic-bezier(0, 0.7, 0.2, 0.7) forwards;
}
.work-cont:hover h3 {
  transition: 0.6s cubic-bezier(0.5, 0, 0, 1);
  transform: scale(1.125);
}

@keyframes fade-in {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: #bf9200;
  }
}
#confirmation-message {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#confirmation-message h3, #confirmation-message p {
  font-size: 1.5rem;
}

.form-contact {
  display: flex;
  justify-content: center;
  height: 100vh;
}
@media screen and (max-width: 750px) {
  .form-contact {
    height: 70vh;
  }
}
.form-contact form {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}
@media screen and (max-width: 750px) {
  .form-contact form {
    width: 80%;
  }
}
.form-contact form input, .form-contact form textarea, .form-contact form input[type=submit] {
  font-family: "Comfortaa", cursive;
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #FFD23F;
  font-size: 1.1rem;
  font-weight: 300;
  background-color: transparent;
  color: white;
}
.form-contact form input:focus, .form-contact form textarea:focus, .form-contact form input[type=submit]:focus {
  outline: none;
}
.form-contact form textarea {
  resize: none;
  height: 100px;
}
.form-contact form input[type=submit] {
  width: 240px;
  border-radius: 5px;
  border: 1px solid #FFD23F;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}
.form-contact form input[type=submit]:hover {
  background-color: #bf9200;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
  height: 150px;
  border-top: 1px solid white;
}
footer a {
  color: #e6e6e6;
  transition: all 0.3s ease-in-out;
}
footer a:hover {
  color: #bfbfbf;
}

.cta-gh {
  animation: showInTop 0.4s ease-in forwards;
}

@keyframes showInTop {
  0% {
    opacity: 0.1;
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
.reveal {
  opacity: 0;
  transform: translateY(50px);
}

.reveal-visible {
  opacity: 1;
  transform: translateY(0px);
  transition: 1s cubic-bezier(0.5, 0, 0, 1);
}/*# sourceMappingURL=style.css.map */