/* http://meyerweb.com/eric/tools/css/reset/  v2.0 | 20110126 License: none (public domain)*/
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

.background {
  background-color: black;
}

.container {
  width: 85%;
  max-width: 1150px;
  min-height: 50vh;
  margin: auto;
  box-sizing: border-box;
}
@media screen and (max-width: 900px) {
  .container {
    width: 95%;
  }
}

h1, h2, h3, h4, a, a:link, p, li, ul, button {
  font-family: "Comfortaa", cursive;
  color: white;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  text-decoration: none;
  color: white;
}

html {
  scroll-behavior: smooth;
}

header {
  height: 50vh;
  margin-right: 7.5%;
}
@media screen and (max-width: 900px) {
  header {
    margin-right: 2.5%;
  }
}
header h1 {
  padding-top: 12.5vh;
  font-weight: 300;
  font-size: 10vw;
  text-align: right;
  white-space: nowrap;
  text-transform: uppercase;
  font-family: "Comfortaa", cursive;
}
header h1 span {
  display: block;
  margin-right: 13.5vw;
}
header h1::after {
  content: "Web Developper \a Front-End | REACT";
  white-space: pre-line;
  font-size: 1.3vw;
  font-weight: 300;
  display: block;
  position: relative;
  height: 30px;
  margin-top: -4.2vw;
  text-transform: lowercase;
  font-family: "Comfortaa", cursive;
}
header h2 {
  display: none;
}
header nav {
  border-right: white solid 1px;
  display: inline-flex;
  position: absolute;
  min-height: 99.7vh;
}
header nav ul {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
header nav ul li {
  text-transform: lowercase;
  font-weight: 300;
}
header nav .nav-item {
  list-style: none;
  transform: rotateZ(-90deg);
}
header nav .nav-item::after {
  content: "";
  position: absolute;
  left: 0;
  top: 22.5px;
  width: 100%;
  height: 2px;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}
header nav .nav-item:hover::after {
  background-color: #FFD23F;
  width: 50%;
  right: 0;
}
header nav .nav-item a:hover {
  filter: blur(0);
}
header nav .nav-item a {
  transition: filter 0.25s ease-in-out;
  filter: blur(0);
}
header nav .nav-item.flou a {
  filter: blur(3px);
}

.cta-gh {
  position: absolute;
  top: -125px;
  left: 150px;
}
.cta-gh:hover .cta-icon {
  top: 121px;
}
.cta-icon {
  fill: white;
  width: 50px;
  height: 50px;
  position: relative;
  top: 105px;
  left: 47.5px;
  transform: rotateZ(180deg);
  transition: top 0.3s ease-out;
}

.circular {
  position: absolute;
  width: calc(var(--total) * 5px);
  height: calc(var(--total) * 5px);
}
.circular span {
  --offset-path: path("M 0,50 a 50,50 0 1,1 0,1 z");
  --offset-distance: calc(var(--i) / var(--total) * 100%);
  position: absolute;
  font-weight: 300;
  color: white;
  offset-path: var(--offset-path);
  offset-distance: var(--offset-distance);
  animation: spin 30s linear infinite;
  font-size: 14px;
}
.circular:hover span {
  animation-play-state: paused;
}

@keyframes spin {
  to {
    offset-distance: calc(var(--offset-distance) + 100%);
  }
}
#custom-cursor {
  background-color: #FFD23F;
  width: 10px;
  height: 10px;
  border: 1px solid #FFD23F;
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  z-index: 98;
}

#intro {
  display: flex;
  height: 75vh;
  justify-content: flex-start;
  align-items: center;
}
#intro h2 {
  width: 50%;
  display: inline;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 1.1rem;
  font-weight: 400;
  text-align: center;
  padding: 7.5px 0;
  border-bottom: 1.3px solid white;
  border-top: 1.3px solid white;
}

.section-title {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
.section-title h2 {
  text-transform: uppercase;
  width: 40%;
  font-size: 3rem;
  font-weight: 300;
  border-bottom: 1px solid #FFD23F;
  transition: transform 0.3s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: left left;
  will-change: transform;
}
.section-stop {
  height: 200vh;
  align-items: flex-end;
}
.section-stop h2 {
  top: 65%;
}/*# sourceMappingURL=style.css.map */